body {
    background-color: #e1e1e1;
}

header {
    background-color: white;
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
    padding: 5px;
    min-height: 50px;
}

#page-title {
    margin-left: 10px;
}